<h2>Signup Page</h2>
<%= form_for(@user) do |f| %>
<%= f.text_field :name, placeholder: "Enter Username" %><br><br>
<%= f.password_field :password, placeholder: "Enter your password" %><br><br>
<%= f.password_field :password_confirmation, placeholder: "Re-enter your password" %><br><br>

<%= f.submit %>
<% end %>
